<div id="contact">
  <div class="contact-content-container">
    <div class="contact-text-container">
      <p class="contact-heading">Email Me</p>
      <p>j4castro@uwaterloo.ca</p>
      <p class="contact-heading">Connect with me</p>
      <p>
        <span><a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/jordan-castro-128bab1b4/"></a></span>
        <span><a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/jordan.castro.737"></a></span>
      </p>
      <p class="contact-heading">Checkout my Github</p>
      <p><a class="fa fa-github" target="_blank" href="https://github.com/jordanjc6"></a></p>
      <p class="contact-heading">Download my resume</p>
      <p><a href="assets/pdfs/JordanCastroResume2024.pdf" download>Download</a></p>
    </div>
  </div>
</div>
