<div class="project-entry-container">
  <h2 class="project-title">{{ title }}</h2>
  <p class="project-date">{{ date }}</p>
  <figure>
    <figcaption class="project-caption"><b>({{ figureIndex + 1 }} of {{ numFigures }})</b> {{ figures[figureIndex].caption }}</figcaption>
    <div class="figure-image-container">
      <button #prevImgBtn class="figure-button previous-button" (click)="previousImage()" (mouseleave)="removeFocus(prevImgBtn)" aria-label="Previous Image"><b><</b></button>
      <img alt="{{ figures[figureIndex].altText }}" class="project-image" src="{{ figures[figureIndex].image }}" />
      <button #nextImgBtn class="figure-button next-button" (click)="nextImage()" (mouseleave)="removeFocus(nextImgBtn)" aria-label="Next Image"><b>></b></button>
    </div>
    <!--<figcaption class="project-caption">{{ figures[figureIndex].caption }}</figcaption>-->
    <div class="slide-indicator">
      <span *ngFor="let fig of figures; index as i" class="slide-dot dots-{{title}}" (click)="changeImage(i)"></span>
    </div>
  </figure>
</div>
