<div id="home">
  <div class="home-content-container">
    <div class="home-text-container">
      <h1 class="greeting">Hi. I'm Jordan. A Software Developer.</h1><br><br>
      <!--<span>{{ global.Home.Experience }}</span>-->
      <span>I am in my 3B term studying computer engineering at University of Waterloo.</span><br><br>
      <span>I have experience developing dynamic single-page applications using Angular, Vue, and .NET Core.</span><br><br>
      <span>I previously worked at Paralucent, MCAP, and Gore Mutual Insurance in software and web development roles..</span>
    </div>
    <!--<div class="horizontal-spacer" style="width: 75px;"></div>-->
    <div class="home-image-container">
      <img alt="self-portrait" class="self-portrait" src="assets/images/jordan-asakusa.png" />
    </div>
  </div>
</div>
