<p style="margin-left: 8px;"><b>Castro Cookbook Privacy Policy.</b></p>
<p style="margin-left: 8px;">Castro Cookbook does not collect, store, or share any personal information about you.</p>
<p style="margin-left: 8px;">
    All text input entered in Castro Cookbook are stored only on your device.<br>
    Any photo selected for a recipe through the edit recipe page is only stored on your device.<br>
    Upon removing text or photo input in the app it will be completely removed from the app.<br>
    Deleting Castro Cookbook deletes all text and photo input in created recipes.<br>
</p>
<p style="margin-left: 8px;">Copyright &#169; 2024 Jordan Castro</p>
