/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// variables //////////
///////////////////////
:root {
  --bmo-blue: #0075BE;
}

// header //////////
////////////////////

header {
  height: 14vh;
  background-color: var(--bmo-blue);
}

.logo {
  display: inline-block;
  height: 12vh;
  margin: 1vh;
}

.logo-image {
  height: 12vh;
  border-radius: 50%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 1vh;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 12vh;
  line-height: 12vh;
  margin: 1vh;
  padding: 0px 8px;
  border-radius: 4px;
  color: white;
  min-width: 18vh;
  transition: all 0.2s;
}

header li a:hover {
  background-color: white;
  color: var(--bmo-blue);
}
