/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// variables //////////
///////////////////////
:root {
  --bmo-blue: #0075BE;
  --header-height: 14vh;
  --header-max-height: 100px;
  --footer-height: 10vh;
}

// page //////////
//////////////////
#page-container {
  position: relative;
  min-height: 100vh;
}

// header //////////
////////////////////
header {
  height: var(--header-height);
  max-height: var(--header-max-height);
  background-color: var(--bmo-blue);
}

.logo {
  display: inline-block;
  height: calc(var(--header-height) - 2vh);
  max-height: calc(var(--header-max-height) - 2vh);
  margin: 1vh;
}

.logo-image {
  height: calc(var(--header-height) - 2vh);
  max-height: calc(var(--header-max-height) - 2vh);
  border-radius: 50%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 1vh;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: calc(var(--header-height) - 2vh);
  max-height: calc(var(--header-max-height) - 2vh);
  line-height: calc(var(--header-height) - 2vh);  // text won't be vertically aligned once max height limit is hit
  margin: 1vh;
  padding: 0px 8px;
  border-radius: 4px;
  color: white;
  min-width: calc(var(--header-height) + 4vh);
  transition: all 0.2s;
}

header li a:hover {
  background-color: white;
  color: var(--bmo-blue);
}

// home //////////
//////////////////
#home {
  padding-bottom: var(--footer-height);
}

// footer //////////
////////////////////
footer {
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100%;
}
